:root {
    --green-primary: #3ba55d;
    --green-dark: #2d4d2a;
    --green-light: #dfffe4;
    --white: #ffffff;
    --gray: #777;
    --bg: #f8fff8;
    
    --space-xs: 4px;
    --space-s: 8px;
    --space-m: 16px;
    --space-l: 32px;
    --space-xl: 48px;
    
    --radius: 8px;
    --shadow: 0 2px 8px rgba(0,0,0,0.1);
}

body {
    font-family: "Poppins", sans-serif;
}